*{
    background-color: aquamarine;
    font-style: italic;
    font-size: 20px;
}
h1{
    font-size: larger;
    color: brown;
}
h2{
     font-size: 50px;
     color: black;
}
p{
    font-weight: bold;
    background-color: blueviolet;
}
li{
    font-style: normal;
    font-size: 50px;
     color: blue;
}
.para1{
font-size: normal;
background-color: azure;
}
